body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.header-image,
.header-image2,
.header-image3,
.header-image4,
.header-image5 {
    padding: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-image {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/01073865290819.5d61d475f0072.jpg");
}

.header-image2 {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e98cffce-5eb7-438b-a225-767cde3b087c/df292s4-03e79447-e31b-47b6-a263-05260821a050.png");
}

.header-image3 {
    background-image: url("https://i.pinimg.com/originals/58/6e/51/586e51559dc40f48cd8ce65af9c1522f.gif");
}

.header-image4 {
    background-image: url("https://i.ytimg.com/vi/fOtiK1IK-9A/maxresdefault.jpg");
}

.header-image5 {
    background-image: url("https://i.pinimg.com/originals/51/15/3c/51153c852b94d6fc50939574f3a7ef47.jpg");
}

.container {
    max-width: 600px;
    margin: 80px auto;
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-bottom: 24px;
}

.button {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.3em;
    text-align: left;
}

input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.alt-link {
    text-align: center;
    margin-top: 1em;
    font-size: 0.9em;
}

.alt-link a {
    color: #2196F3;
    text-decoration: none;
}

.alt-link a:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    z-index: 100;
}

