<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Удаление текста</title>
    <link href="/style.css" rel="stylesheet" />
</head>
<body>

<div class="header-image"></div>

<div class="container">
    <h1>Удалить заметку по ID</h1>
    <form action="/deleteChosenNote" method="post">
        <input type="hidden" name="_method" value="delete">

        <label for="id">ID заметки:</label>
        <input type="number" id="id" name="id" required>

        <button type="submit" class="button">Удалить выбранную заметку</button>
    </form>

    <div th:if="${messageToUser}" class="alt-link">
        <p th:text="${messageToUser}"></p>
    </div>

    <div class="alt-link">
        <a href="/" class="button">Назад</a>
    </div>
</div>

<footer class="footer">
    <p>© 2025 pepega - прав нет</p>
</footer>

</body>
</html>
