<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Удаление текста</title>
    <link href="/style.css" rel="stylesheet" />
</head>
<body class="header-image4">
<div class="container">
    <h1>Удаление текста</h1>

    <form action="/deleteChosenText" method="post">
        <label for="id">Введите ID текста для удаления:</label>
        <input type="number" id="id" name="id" required>

        <input type="hidden" name="_method" value="delete"/>

        <div>
            <button type="submit" class="button">Удалить</button>
            <a href="/" class="button">Назад</a>
        </div>
    </form>

    <div th:if="${messageToUser}" class="alt-link">
        <p th:text="${messageToUser}"></p>
    </div>
</div>

<footer class="footer">
    <p>© 2025 pepega - прав нет</p>
</footer>
</body>
</html>
