
<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Выбор действия</title>
    <link href="/style.css" rel="stylesheet" />
</head>
<header>
    <marquee>Зенкин Кирилл ИС-2223Д</marquee>
</header>
<header class ="header-image2">
<!--    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/01073865290819.5d61d475f0072.jpg" width="300"/>-->
</header>
<body>
<div class="container">
    <h1>Что вы хотите сделать?</h1>
    <a href="/note" class="button">Оставить заметку</a>
    <a href="/text" class="button">Написать текст</a>
</div>
</body>
<footer class="footer">
    <p>© 2025 pepega - прав нет</p>
</footer>
</html>
