
<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Выбор действия</title>
    <link href="/style.css" rel="stylesheet" />
</head>
<header class ="header-image2">
<!--    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/01073865290819.5d61d475f0072.jpg" width="300"/>-->
</header>
<body>
<div class="container">
    <h1>Что вы хотите сделать?</h1>
    <a href="/addNewNote" class="button">Оставить заметку</a>
    <a href="/text" class="button">Написать текст</a>
    <a href="/showText" class="button">Показать записанные текста</a>
    <a href="/showNote" class ="button">Показать записанные заметки</a>
    <a href="/updateChosenText" class="button">Выберите текст для изменения</a>
    <a href="/deleteChosenText" class="button">Выберите текст для удаления</a>
    <a href="/deleteChosenNote" class="button">Выберите заметку для удаления</a>
</div>
</body>
<footer class="footer">
    <p>© 2025 pepega - прав нет</p>
</footer>
</html>
