<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все текста</title>
    <link href="/style.css" rel="stylesheet" />
</head>
<header>
    <marquee>Зенкин Кирилл ИС-2223Д</marquee>
</header>
<header class ="header-image5">
</header>
<body>
<div class="container">
    <h1>Все ваши текста:</h1>
    <form method="get" action="/showAllTexts">
        <br>
        <a href="/" class="button">Назад</a>
    </form>
</div>
</body>
<footer class="footer">
    <p>© 2025 pepega - прав нет</p>
</footer>
</html>