<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Текст</title>
    <link href="/style.css" rel="stylesheet" />
</head>
<header class ="header-image3">
<!--    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e98cffce-5eb7-438b-a225-767cde3b087c/df292s4-03e79447-e31b-47b6-a263-05260821a050.png/v1/fill/w_1192,h_670,q_70,strp/hyper_light_drifter_wallpaper___realm_by_brightdarknessxx_df292s4-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZTk4Y2ZmY2UtNWViNy00MzhiLWEyMjUtNzY3Y2RlM2IwODdjXC9kZjI5MnM0LTAzZTc5NDQ3LWUzMWItNDdiNi1hMjYzLTA1MjYwODIxYTA1MC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Jg4ttrgTEvXd8Dan7v2mRGLGGU9GDgTobGBKg-P38YQ" width="300"/>-->
</header>
<body>
<div class="container">

    <h1>Напишите ваш текст</h1>
    <form method="post" action="/text">
        <textarea name="text" placeholder="Введите текст..."></textarea>
        <br>
        <button type="submit" class="button">Сохранить</button>
        <a href="/" class="button">Назад</a>
    </form>
    <div th:if="${messageToUser}" class="alt-link">
        <p th:text="${messageToUser}"></p>
    </div>
</div>
<footer class="footer">pepega - прав нет</footer>
</body>
<footer class="footer">
    <p>© 2025 pepega - прав нет</p>
</footer>
</html>
